@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>Fábio José Rosalém Marcelino</h3>

<address>
    Rua Begônias, 203<br />
    São Bernardo do Campo - São Paulo<br />
    <abbr title="Phone">P:</abbr>
    (11) 99463-6863
</address>

<address>
    <strong>e-mail:</strong>   <a href="mailto:Support@example.com">fabiorosalem@gmail.com</a><br />
</address>