@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<h3>Fábio José Rosalém Marcelino</h3>

<address>
    Rua Begônias, 203<br />
    São Bernardo do Campo - São Paulo<br />
    (11) 99463-6863
</address>

<address>
    <strong>e-mail:</strong>   <a href="mailto:fabiorosalem@gmail.com">fabiorosalem@gmail.com</a><br />
    <strong>Currículo:</strong>   <a href="https://www.linkedin.com/in/f%C3%A1bio-rosalem-3187a3b2/" target="_blank">Linked-In</a><br />
</address>