@{
    ViewBag.Title = "eniwine";
}


<div class="row">
    <div class="col-md-4">
        <h2>eniwine</h2>
        <p>
            Resumo sobre a empresa
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Mais Informações</a></p>
    </div>
    <div class="col-md-4">
        <h2>O jogo</h2>
        <p>O empresário Sean Bean foi assassinado e o corpo dele foi deixado na frente da delegacia de polícia. O Inspetor Jacques Clouseau foi escolhido para investigar este caso. Após uma série de investigações, ele organizou uma lista com prováveis assassinos, os locais do crime e quais armas poderiam ter sido utilizadas. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Iniciar</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fábio Rosalem</h2>
        <p>Resumo</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Mais Informações</a></p>
    </div>
</div>