@{
    ViewBag.Title = "eniwine";
}


<div class="row">
    <div class="col-md-4">
        <h2>eniwine</h2>
        <p>
            eniwine é um grande agregador, reunindo num só lugar os produtos do mercado de vinhos dos principais e-commerce do Brasil, permitindo que o consumidor pesquise de maneira prática e rápida, comparando preços e encontrando sempre a melhor oferta.
        </p>
        <p><a class="btn btn-default" href="http://www.eniwine.com.br/" target="_blank">Mais Informações</a></p>
    </div>
    <div class="col-md-4">
        <h2>O jogo</h2>
        <p>O empresário Sean Bean foi assassinado e o corpo dele foi deixado na frente da delegacia de polícia. O Inspetor Jacques Clouseau foi escolhido para investigar este caso. Após uma série de investigações, ele organizou uma lista com prováveis assassinos, os locais do crime e quais armas poderiam ter sido utilizadas. </p>
        <p><a class="btn btn-default" href="/Jogo">Iniciar</a></p>
    </div>
    <div class="col-md-4">
        <h2>Candidato</h2>
        <p><b>Fábio Rosalem</b></p>
        <p>Arquiteto de Sistemas, Especialista em Desenvolvimento de Sistemas, Graduado em Tecnologia da Informação e Pós-Graduado em Engenharia de Software. Nascido em 23/10/1979, reside em São Bernardo do Campo/SP</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/f%C3%A1bio-rosalem-3187a3b2/" target="_blank">Mais Informações</a></p>
    </div>
</div>